@import "src/theme/theme-variables";

// Navbar brand
//
// Used for brand, project, or site names.

.navbar-brand {
	display: inline-block;
	padding-top: $navbar-brand-padding-y;
	padding-bottom: $navbar-brand-padding-y;
	margin-right: $navbar-padding-x;
	font-size: $navbar-brand-font-size;
	line-height: inherit;
	white-space: nowrap;
  
	@include hover-focus {
	  text-decoration: none;
	}
  }


.header {
	padding-top: .75rem;
	padding-bottom: .75rem;
	background: #fff;
	border-bottom: 1px solid $border-color;

	body.fixed-header & {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: $zindex-fixed;
	}

	@media print {
		display: none;
	}

	.dropdown-menu {
		margin-top: .75rem;
	}
}

.header-nav {
	background: #fff;
	border-bottom: 1px solid $border-color;
	// color: $text-muted;
	align-items: center;


	@media print {
		display: none;
	}

	.nav-tabs {
		border: 0;

		.nav-item + .nav-item {
			margin-left: 1.5rem;
		}
	}
}