<div class="nav-wrapper">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link" routerLinkActive="active">
        <i class="fas fa-home"></i>
        <span translate>Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/about" class="nav-link" routerLinkActive="active">
        <i class="fas fa-question-circle"></i>
        <span translate>About</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/trip" class="nav-link" routerLinkActive="active">
        <i class="fas fa-edit"></i>
        <span translate>Trip</span>
      </a>
    </li>
  </ul>
</div>


  <!-- <ng-container *ngFor="let item of links">
      <li class="nav-item d-inline-block">
        <a href="#" [routerLink]="item.link" class="nav-link" routerLinkActive="active">
          <i class="{{ item.icon }}" *ngIf="item.icon"></i>
          {{item.label}}
        </a>
        <div class="nav-submenu nav" *ngIf="item.children">
          <ng-container *ngFor="let sub of item.children">
            <a href="#" class="nav-item" [routerLink]="sub.link" routerLinkActive="active">
              <i class="{{ sub.icon }}" *ngIf="sub.icon"></i>
              {{sub.label}}
            </a>
          </ng-container>
        </div>
      </li>
    </ng-container> -->
<!-- </ul> -->