<div class="page-header row no-gutters py-4">
  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
    <span class="text-uppercase page-subtitle">location list </span>
    <h3 class="page-title">Places {{total$ | async}}</h3>
  </div>
</div>

<div *ngFor="let item of locations$ | async">
  <div class="row">
    <div class="col-lg-12 col-sm-12 mb-4">
      <div class="card card-small card-post card-post--aside card-post--1">
        <div class="card-post__image" style="background-image: url('assets/places/3.jpeg');">
          <a href="#" class="card-post__category badge badge-pill badge-info">{{item.rating | number}}</a>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <a class="text-fiord-blue" href="#">{{item.name}}</a>
          </h5>
          <p class="card-text d-inline-block mb-3">{{item.description | shorten: 350: '...'}} <a class="" href="#">
              Read more </a></p>
          <div>
            <button class="btn btn-sm btn-outline-accent btn-primary btn-success" (click)="goToHome()">
              <i class="fas fa-plus mr-2"></i>Add to Itinerary</button>
          </div>

        </div>
        <div class="card card-small card-post-sidebar">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-3" style="font-size: 0.85rem;">
                <span class="d-flex mb-2">
                  <i class="fa fa-certificate mr-2" aria-hidden="true"></i>
                  <span class="mr-1">Rating: {{item.rating}}</span>
                </span>
                <span class="d-flex mb-2">
                  <i class="fas fa-tag mr-2"></i>
                  <span class="mr-1">Category: {{item.mainType.name}}</span>
                </span>
                <span class="d-flex mb-2">
                  <i class="fas fa-map-marker-alt mr-2"></i>
                  <span class="mr-1"> {{item.contactInformation}} </span>
                </span>
              </li>
              <li class="list-group-item d-flex px-3">
                <!-- <button class="btn btn-sm btn-outline-accent btn-primary btn-success">
                  <i class="fas fa-plus mr-2"></i>Add to Itinerary</button> -->
                <button class="btn btn-sm btn-accent btn-primary ml-auto">
                  <i class="fas fa-info-circle mr-2"></i>Read more</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>