@import "src/theme/theme-variables";

// Shadows
$side-shadow: 0 0.125rem 9.375rem rgba($shuttle-gray, .1),
              0 0.25rem 0.5rem rgba($shuttle-gray, .12),
              0 0.9375rem 1.375rem rgba($shuttle-gray, .10),
              0 0.4375rem 2.1875rem rgba(#A5B6C9, .10);

$main-navbar-height: 3.75rem !default;

.main-sidebar {
	top: 0;
  position: fixed;
  height: calc(100vh);
  background: white;
  z-index: 1070;
  will-change: transform;
  transition: transform 200ms ease-in-out;
	box-shadow: $side-shadow;
}

.main-content > .main-content-container.container-fluid {
		min-height: calc(100vh - #{$main-navbar-height + $main-navbar-height});
}
	